<h3>Tweet Details</h3>
<div id="tweet-details">
<<<<<<< HEAD
<<<<<<< HEAD
	<p>
    <span class="label">Tweet: </span> <span id="text"></span>
  </p>
  <p>
    <span class="label">Day: </span> <span id="day"></span>
  </p>
	<p>
    <span class="label">Time: </span> <span id="time"></span>
  </p>
	<p> 
    <span class="label">Retweet?: </span> <span id="retweet"></span>
  </p>
	
  <p>
    <span class="label">Id: </span> <span id="tweetid"></span>
  </p>
  <p> <span class="label">Replied to:</span><span id="replyid"></span></p>

=======
	<p> <span class="label">Tweet: </span> <span id="text"></span> </p>
	
    <p> <span class="label">Time: </span> <span id="time"></span> </p>

	<p> <span class="label">Retweet?: </span> <span id="retweet"></span> </p>

    <p> <span class="label">Id: </span> <span id="tweetid"></span> </p>

    <p> <span class="label">Replied to:</span><span id="replyid"></span></p>
>>>>>>> 583a1bde39393adf4ff4f8fedeb2f397b8d0d0ff
</div>