<h4 style='background-color:#D8D8D8;'>User Details</h4>
<div id="user-details">
  <p> <span class="label"> </span> <span id="user-details-profile-pic"></span> </p>
  
  <p> <span class="label">User Name: </span> <span id="user-details-name"></span> </p>

  <p> <span class="label">Number of Followers: </span> <span id="user-details-followers"></span> </p>

  <p> <span class="label">Number of Friends: </span> <span id="user-details-friends"></span> </p>
  
</div>