<div id="paneCenter" class="ui-layout-center">
    <div class="container">
        <div class="row">
            <h3>
               Make tweets visible from <span id="slider-value" class="range-value"></span>
            </h3>
            <div id="slider" class='g-slider'></div>
            <div id="canvas"></div>
            <div id="scrollbar"></div>  
        </div> <!-- end of 2nd row -->
    </div> <!-- end of container -->
</div>

<div id="paneEast" class="ui-layout-east"> 
	<div id="singlecontrol">
		<form>
			<input type="checkbox" id="nodetype">Singleton<br>
			<input type="radio" id="show" class="action-group" name="action-group" value="show" checked>Show
			<input type="radio" id="hide" class="action-group" name="action-group" value="hide">Hide
		</form>
	</div>
	
	<div id="repy-retweet">
    <form>
      <input type="checkbox" id="tweettype">Reply vs. Retweet<br>
      <input type="radio" id="reply" class="tweet-group" name="tweet-group" value="reply" checked>Reply
      <input type="radio" id="retweet" class="tweet-group" name="tweet-group" value="retweet"> Retweet
    </form>
  </div>

    <%= render 'tweet_info' %>

</div>
