<div class="container">
	<div id="slider-range"></div>

	<p>
	  <label for="amount">Target sales goal (Millions):</label>
	  <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
	</p>

	<div class="row">
		<div id="canvas">
		</div>
	</div> <!-- end of 2nd row -->
</div> <!-- end of container -->