// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
svg
    border: 1px solid
    
#canvas
    float: left

#tweet-details
    border: 1px solid
    min-height: 200px
    float: right

    .label
        font-weight: bold
        color: inherit

.node
    cursor: crosshair
    fill: #ccc
    stroke: #000
    stroke-width: 1.5px

.node.selected
    fill: #f00

.node.hovered
    fill: #0f0
    stroke: #f00

.link
    stroke: #000
    stroke-width: 1.5px
