// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
svg
    border: 1px solid #CCC

path
    fill: none
    stroke: #000
    shape-rendering: crispEdges

line
    stroke: #000

path.histogram
    fill: steelBlue
    stroke: white
    
#canvas
    float: left

#tweet-details
    border: 1px solid
    min-height: 180px
    min-width: 230px
    background-color: white
    float: left

    .label
        font-weight: bold
        color: inherit

#user-details
    border: 1px solid
    min-height: 100px
    min-width: 230px
    background-color: white
    float: left

    .label
        font-weight: bold
        color: inherit

.node
    cursor: crosshair
    opacity: 0.7
    fill: #ccc
    stroke: #fff
    stroke-width: 1.5px
    z-index: 10

.node.selected
    opacity: 1
    stroke: #000
    z-index: 100

.node.hovered
//    stroke: #000
//    fill: black

.link
    stroke: #000
    stroke-width: 1.5px

.brush .extent
    stroke: #fff
    fill-opacity: 0.125
    shape-rendering: crispEdges

#top-tweet-list

.top-tweet-item
    &:hover
        color: red

.top-tweet-text
    font-style: italic

.top-tweet-user-name
    font-weight: bold
