// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
svg
	border: 1px solid
	
#canvas
	float: left

#tweet-details
	border: 1px solid
	width: 200px
	min-height: 200px
	float: right

.node
	cursor: move
	fill: #ccc
	stroke: #000
	stroke-width: 1.5px

.node.selected
	fill: #f00